@model _5101_Assignment3.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}

<div id="containershow">
    <nav>
        <a class="navLink" href="/Teacher/Show/@Model.TeacherID">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.FirstName @Model.LastName?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Teacher/Delete/@Model.TeacherID">
        <button class="delButton">
            Confirm
        </button>
    </form>
</div>

