@model IEnumerable<_5101_Assignment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<nav>
    <a class="navlink" href="/Teacher/New">New Teacher</a>
</nav>
<h2>List of Teachers</h2>
<form action="/Teacher/List" method="GET">
    <input type="text" name="SearchKey"/>
    <input type="submit" value="Search"/>
</form>
@foreach(var teacher in Model)
{
    <div><a href="/Teacher/Show/@teacher.TeacherID">@teacher.FirstName @teacher.LastName</a></div>
}

