@model _5101_Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div>
    <nav>
        <a class="navLink" href="/Teacher/List">Back To Teachers</a>
        <a class="delLink" href="/Teacher/DeleteConfirm/@Model.TeacherID">Delete</a>
    </nav>
    <h2>@Model.FirstName @Model.LastName</h2>
    <p><b>Employee Number:</b> @Model.EmployeeNumber</p>
    <p><b>Hire Date:</b> @Model.HireDate</p>
    <p><b>Salary:</b> $@Model.Salary</p>
</div>