@model _5101_Assignment3.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>@Model.FirstName @Model.LastName</h2>
<p><b>Student Number:</b> @Model.StudentNumber</p>
<p><b>Enrollment Date:</b> @Model.EnrollmentDate</p>

