body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Styling for the Show Teacher page */
nav{
    overflow: hidden;
    margin-bottom: 30px;
}
.navLink{
    float: left;
}
.delLink{
    float: right;
    color: red;
}

/* Styling for the Delete Confirm button */
.delButton {
    display: block;
    margin: 0 auto;
    background: #c30b01;
    color: #fff;
}

/* Styling for the Add Teacher page */
.inputRow input {
    float: right;
}
.inputRow input[type="submit"] {
    float: none;
    margin-top: 50px;
}